head
  meta(charset='utf-8')
  meta(name="description" content="")
  meta(content="width=device-width,  user-scalable=no" name="viewport")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-touch-fullscreen" content="yes")
  meta(name="full-screen" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="black")
  meta(name="format-detection" content="address=Sno")
  link(rel="stylesheet" href="css/jquery.mobile-1.4.3.min.css")
  link(rel="stylesheet" href="css/style.css")

  script(src="js/vendor/jquery-2.1.1.min.js")
  script(src="js/vendor/jquery.mobile-1.4.3.min.js")
  script(src="js/index.js")
  title 摇号补2千，置换送8千，0元得浙牌，别克千人团购会
