doctype html
html
  include _header
  body
    .page(data-role="page")
      .header-box
        p 恭喜您成为第652位血拼勇士，
        p 血拼神器已为您准备妥当，猛击下方按钮领取您的专属装备！
        p.ml “神器”使用说明：
        p.yellow 先砍价后出示，优惠券、团购底价、现场额外优惠叠加同享！
        p 轻松玩转折上折，现场助您冲锋陷阵！

      .row-pic
        img(src="img/2.jpg")
      .row-txt 已有1098人领此优惠券

      .row-pic
        img(src="img/1.jpg")
      .row-txt 已有1098人领此优惠券

      .row-pic
        img(src="img/3.jpg")
      .row-txt 已有1098人领此优惠券

      .hp-link
        a(href="#")
          img(src="img/lnk2.png")